input {
    font-size: 2em;
    font-weight: bolder;
    color: #6F6FD0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
input.ng-dirty.ng-invalid {
    border: solid #F70902 1px
}